.atributo{
    cursor: pointer;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border: 1px solid #f0f0f0;
    text-align: left;
    border-radius: 10px;
    font-size: 0.7vw;
    padding: 0.6vw;
    margin-bottom: 0.3vw;
}

.atributo:hover{
    background-color: rgb(189, 189, 189);
}