.container-db-general{
    min-width: 99.15vw;
    max-width: 99.15vw;
    min-height: 39.8vw;
    margin-top: 2vw;
}

.container-db{
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
    min-width: 96vw;
    max-width: 96vw;
}

.container-form-a{
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 20vw;
    margin-top: 3.3vw;
}

