body{
  margin: 0;
}

.App{
  background-color: #f0f0f0 ;
  height: 100vh;
}

#logo-nav{
  height: 65px;
  padding: 10px;
  background-color: white;
}

.nav-horizontal{
  display: flex;
  justify-content: space-between;
  background-color: #fff5f1;
  padding-right: 1%;
  align-items: center;
}

.nav-vertical{
  display: inline-block;
  height: calc(100vh - 105px);
  padding-top: 20px;
  width: 220px;
  background-color: #fff5f1;
}

.btn{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 10%;
  display: block;
  border: none;
  background-color: #f0f0f000;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: #636363;
  border: solid 1px transparent;
  transition: all 200ms;
}

.btn:hover{
  border: solid 1px #f25c29;
}

.btn-subir-archivo{
  background-color: #f25c29;
  color: white;
  transition: all 200ms;
  border: solid 1px transparent;
}

.btn-subir-archivo:hover{
  background-color: transparent;
  border: solid 1px #f25c29;
  color: #636363;
}

.icon{
  color: red;
  transition: all 200ms;
}

.graph{
  position: absolute;
}


#profile-icon{
  font-size: 65px;
}

.container-titulo{
  padding: 50px 20px;
}

.container-app{
  display: inline-block;
  position: absolute;
}

.historial {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-left: 7%;
  border-radius: 4px;
  overflow: auto;
}

.tarjeta-historial {
  margin-top: 3%;
  margin-left: 8%;
  height: 9vh;
  width: 65vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 5px;
}

.busqueda {
  margin-top: 3%;
  margin-left: 10%;
  height: 7vh;
  width: 62vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 35px;
}

.icono-busqueda {
  margin-top: .8%;
  margin-left: 1.5%;
  font-size: 200%;
  position: absolute;
}

.icono-flecha {
  margin-top: .8%;
  margin-left: 74%;
  font-size: 200%;
  position: absolute;
}

.area-historial {
  justify-content: left;
  height: 80vh;
  width: 80vw;
  display: flex;
}