body{
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

input, select, button{
  font-family: inherit;
}

.App{
  height: 100vh;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-app{
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 105px;
  margin-left: 2%;
  margin-right: 2%;
  width: calc(100vw - 4%);
}

.col-1{
  width: 58%;
}

.col-2{
  width: 38%;
}

.col{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105px);
  row-gap: 20px;
}

.historial {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-left: 7%;
  border-radius: 4px;
  overflow: auto;
}

.tarjeta-historial {
  margin-top: 3%;
  margin-left: 8%;
  height: 9vh;
  width: 65vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 5px;
}

.busqueda {
  margin-top: 3%;
  margin-left: 10%;
  height: 7vh;
  width: 62vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 35px;
}

.icono-busqueda {
  margin-top: .8%;
  margin-left: 1.5%;
  font-size: 200%;
  position: absolute;
}

.icono-flecha {
  margin-top: .8%;
  margin-left: 74%;
  font-size: 200%;
  position: absolute;
}

.area-historial {
  justify-content: left;
  height: 80vh;
  width: 80vw;
  display: flex;
}

a{
  text-decoration: none;
}

.form-atributos{
  width: 100%;
  max-height: 120px;
}