body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input, select, button{
  font-family: inherit;
}

.App{
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.background{
  display: flex;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(1.2);
  background-color: rgb(0, 0, 0);
}

.home-background{
  display: flex;
  height: inherit;
  background-image: url("/public/img/Termium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-button{
  display: flex;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.home-btn-container{
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  height: 75%;
  width: 90.5%;
  justify-content: center;
  margin: auto;
  margin-top: 9%;
}

.atrribute-container{
  height: 87%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-up{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 105px);
}


.col-1{
  width: 58%;
}

.col-2{
  width: 38%;
}

.col{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105px);
  row-gap: 20px;
}

.container-button-add{
  display: flex;
  width: calc(100vw - 4%);
  justify-content: center;
}

.button-add{
  background-color: #F25C29;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 40px;
  width: 60px;
  height: 60px;
  margin-top: 40px;
}

.historial {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 20%;
  border-radius: 4px;
  overflow-y: scroll;
}

.display-none{
  display: none;
}

.busqueda {
  margin-top: 3%;
  margin-left: 6%;
  height: 10%;
  width: 90%;
  border: 1px solid rgb(83,83,83);
  border-radius: 35px;
}

.icono-busqueda {
  margin-top: .9%;
  margin-left: 1.2%;
  font-size: 200%;
  position: absolute;
}

.icono-flecha {
  margin-top: .8%;
  margin-left: 54%;
  font-size: 200%;
  position: absolute;
}

.area-historial {
  justify-content: left;
   height: 80vh;
   width: 80vw;
   display: flex;
}

a{
  text-decoration: none;
}

.form-atributos{
  width: 100%;
  max-height: 120px;
}

.button-gen{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8vw;
  background-color: rgb(255, 67, 20);
  font-size: 1.5vw;
  border-radius: 35px;
  cursor: pointer;
  width: 10vw;
  color: rgb(255, 255, 255);
  border: solid 1.5px rgb(255, 67, 20);
  transition: all 200ms;
}

.button-gen:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8vw;
  background-color: rgb(255, 255, 255);
  font-size: 1.5vw;
  border-radius: 35px;
  cursor: pointer;
  width: 10vw;
  color: rgb(255, 67, 20);
  border: solid 1.5px rgb(255, 67, 20);
  transition: all 200ms;
}

.att-options-container{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}