body{
  margin: 0;
  background-color: #f0f0f0
}

.App{
  height: 100vh;
}

.graph{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px;
  min-height: 300px;
}


#profile-icon{
  font-size: 65px;
}

.container-titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  height: 80px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-app{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-left: 240px;
  margin-top: 105px;
  max-width: calc(100vw - 240px);
  width: calc(100vw - 240px);
}

.contenedor-datos{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  height: 120px;
  width: 48%;
  text-align: center;
}

.red{
  background-color: #f25c29;
}

.yellow{
  background-color: #ffa82f;
}

.col-1{
  width: 58%;
}

.col-2{
  width: 38%;
}

.col{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105px);
  row-gap: 20px;
}

.historial {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-left: 7%;
  border-radius: 4px;
  overflow: auto;
}

.tarjeta-historial {
  margin-top: 3%;
  margin-left: 8%;
  height: 9vh;
  width: 65vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 5px;
}

.busqueda {
  margin-top: 3%;
  margin-left: 10%;
  height: 7vh;
  width: 62vw;
  border: 1px solid rgb(83,83,83);
  border-radius: 35px;
}

.icono-busqueda {
  margin-top: .8%;
  margin-left: 1.5%;
  font-size: 200%;
  position: absolute;
}

.icono-flecha {
  margin-top: .8%;
  margin-left: 74%;
  font-size: 200%;
  position: absolute;
}

.area-historial {
  justify-content: left;
  height: 80vh;
  width: 80vw;
  display: flex;
}

a{
  text-decoration: none;
}

.form-atributos{
  width: 100%;
  max-height: 120px;
}

.btn-form{
  background-color: #f25c29;
  border: none;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 2%;
  transition: all 0.2s;
}

.btn-form:hover{
  background-color: #ffa82f;
}