.title{
    padding-top: 0%;
  }
  
  .message-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50vw;
    height: 25vw;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vw;
    padding: 1.5vw;
  }
  
  .message-view-container{
    justify-content: center;
    align-items: center;
  }
  
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }